<h2>Conversion</h2>

<span id="extole_zone_conversion"></span>

<% content_for(:extole_javascript) do %>
<script type="text/javascript">
  extole.createZone({
     name: 'conversion',
     data: {
       "first_name":"Extole", // RECOMMENDED DYNAMIC VALUE
       "last_name":"Friend", // RECOMMENDED DYNAMIC VALUE
       "email":"extole-friend@theklaibers.com", // REQUIRED DYNAMIC VALUE
       "partner_user_id":"7891234", // REQUIRED DYNAMIC VALUE
       //"advocate_code":"QA754AZ", // RECOMMENDED DYNAMIC VALUE
       "partner_conversion_id":"CONV-SQA754AZ", // RECOMMENDED DYNAMIC VALUE
       "cart_value":"53.67" // RECOMMENDED DYNAMIC VALUE
     }
  });
</script>
<% end %>
