<h2>Promotion</h2>

<span id="promotion_landing_experience"></span>

<% content_for(:extole_javascript) do %>
<script type="text/javascript">
   extole.createZone({
        name: "promotion_landing_experience",
        parameters: {
            "email": "extole-advocate@theklaibers.com.com",
            "first_name": "Extole",
            "last_name": "Advocate",
            "partner_user_id": "0123456"
        }
    });
</script>
<% end %>
