<h2>Share</h2>

<span id="extole_zone_referral_page"></span>

<% content_for(:extole_javascript) do %>
<script type="text/javascript">
   extole.createZone({
     name: 'referral_page',
     element_id: extole_zone_referral_page
  });
</script>
<% end %>
