<div id="container">
  <div id="masthead">
    <h1>Device Independent</h1>
  </div>
  <div id="content-container">
    <div id="col-1">

    </div>
    <div id="col-2">
      <section class="company">
        <h2><%= image_tag('Icon-60@2x.png', alt: 'Logo', class: 'profile') %> Your content shouldn&#8217;t be trapped in yesterday&#8217;s tools. We build <em>smart</em>, <em>future-proof</em> solutions that take your data where it needs to go.</h2>

        <p>I am currently working on projects with friends and colleagues at:</p>
        <ul class="org">
          <li><a href="https://www.automatic.com" rel="external automatic">Automatic</a></li>
          <li><a href="https://www.fuelthecore.com" rel="external core-nutrition">CORE Nutrition</a></li>
          <li><a href="http://www.sprokets.net" rel="external sprokets">Sprokets</a></li>
          <li><a href="http://www.goedps.com" rel="external edps">EDPS</a></li>
          <li><a href="https://www.quicksprout.com" rel="external quicksprout">Quick Sprout</a></li>
        </ul>

        <p>I&#8217;ve previously worked with great teams at:</p>
        <ul class="org">
          <li><a href="https://www.vloan.com" rel="external vloan">vLoan</a></li>
          <li><a href="https://www.kissmetrics.com" rel="external kissmetrics">KISSmetrics</a></li>
          <li><a href="https://www.within3.com" rel="external within3">Within3</a></li>
        </ul>

        <section class="services">
        </section>

        <section class="products">
        </section>
      </section>

      <section class="about">
        <h2>About</h2>
        <section class="bio">
          <%= image_tag('family-profile.jpg', alt: 'Profile Photo', class: 'about') %>
          <p>My name is <em>Nate Klaiber</em> and I am the owner of <a href="http://www.deviceindependent.com">Device Independent, LLC</a>. I have been given the opportunity to work with incredibly talented teams and some really incredible projects.</p>
          <p>I&#8217;ve watched so many trends come and go over the years. The one thing that is constant is the <strong>data model</strong>. Great experiences are not dependent on a device or context, but should be shared across the devices and context.</p>
          <p><abbr title="Application Programming Interface">API</abbr>s allow you to unlock your data, whether for your own internal purposes or for a broader <em>Developer Platform</em>.</p>

          <p class="other">I can be found in several other corners of the web:</p>
          <ul>
            <li><a href="http://www.nkbookreviews.com" rel="me">Nate Klaiber Book Reviews</a> is a website that houses my personal book library collection and any reviews associated with them.</li>
          </ul>
        </section>
      </section>

      <h2>Get in touch</h2>
      <dl>
        <dt>Phone</dt>
        <dd>330-987-6942</dd>
        <dt>E-Mail</dt>
        <dd><a href="mailto:nate@deviceindependent.com" class="email">nate@deviceindependent.com</a></dd>
      </dl>
    </div>
    <div id="col-3">

    </div>
  </div>
