<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<title>Device Independent + Extole</title>
  <%= stylesheet_link_tag    'extole/application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>

<body id="home">
<div id="extole_zone_global_header"></div>
<span id=extole_zone_my_main_link></span>
<span id=extole_zone_mobile_first_share_link></span>
<span id=extole_zone_full_mobile_link></span>

<%= yield %>

<script type="text/javascript" src="https://origin.extole.io/nateklaiber/core.js" async></script>

<script type="text/javascript">
  /* Start Extole */
  (function(c,e,k,l,a){c[e]=c[e]||{};for(c[e].q=c[e].q||[];a<l.length;)k(l[a++],c[e])})(window,"extole",function(c,e){e[c]=e[c]||function(){e.q.push([c,arguments])}},["createZone"],0);
  /* End Extole */

   extole.createZone({
     name: 'global_header',
     element_id: 'extole_zone_global_header',
     data: {
       "partner_user_id":"advocate-abcd",
       "email": "extole@deviceindependent.com",
       "first_name": "Extole",
       "last_name": "Advocate"
     }
  });

extole.createZone({
        name: "my_main_link",
        element_id: extole_zone_my_main_link,
        parameters: {
            "email": "nate+main-link@theklaibers.com",
            "first_name": "Nate",
            "last_name": "Klaiber",
            "partner_user_id": "main-link-abcd"
        }
    });

  extole.createZone({
     name: 'registration',
     data: {
       "first_name":"Lester", // RECOMMENDED DYNAMIC VALUE
       "last_name":"Tester", // RECOMMENDED DYNAMIC VALUE
       "email":"friend@deviceindependent.com", // REQUIRED DYNAMIC VALUE
       "partner_user_id":"friend-abcd", // REQUIRED DYNAMIC VALUE
       "advocate_code":"QA754AZ" // RECOMMENDED DYNAMIC VALUE
     }
  });

  extole.createZone({
     name: 'conversion',
     data: {
       "first_name":"Lester", // RECOMMENDED DYNAMIC VALUE
       "last_name":"Tester", // RECOMMENDED DYNAMIC VALUE
       "email":"friend@deviceindependent.com", // REQUIRED DYNAMIC VALUE
       "partner_user_id":"friend-abcd", // REQUIRED DYNAMIC VALUE
       "advocate_code":"QA754AZ", // RECOMMENDED DYNAMIC VALUE
       "partner_conversion_id":"CONV-SQA754AZ", // RECOMMENDED DYNAMIC VALUE
       "cart_value":"53.00" // RECOMMENDED DYNAMIC VALUE
     }
  });
    extole.createZone({
        name: "mobile_first_share_link",
        element_id: extole_zone_mobile_first_share_link,
        parameters: {
            "email": "nate+mf@theklaibers.com",
            "first_name": "Nate",
            "last_name": "Klaiber MF",
            "partner_user_id": "mf-nk-abcd",
            "nickname": "nate-mobile-first"
        }
    });

    extole.createZone({
        name: "full_mobile_link",
        element_id: extole_zone_full_mobile_link,
        parameters: {
            "email": "full-mobile-link@theklaibers.com",
            "first_name": "Full",
            "last_name": "Mobile Link",
            "partner_user_id": "full-ml-abcd1234"
        }
    });
</script>

</body>
</html>
