#container {
	border-top-left-radius: 1.8em;
	border-bottom-right-radius: 1.8em;
	-webkit-border-top-left-radius: 1.8em;
	-webkit-border-bottom-right-radius: 1.8em;
	-moz-border-radius-topleft: 1.8em;
	-moz-border-radius-bottomright: 1.8em;
}
dl {
	background: rgba(0, 0, 0, .04);
	border-color: rgba(0, 0, 0, .07);
}
a:visited {
  border-color: rgba(1,9,58, .8);
}
a:hover {
  color: rgba(1,9,58, .8);
}
