</body>
</html>
<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<title>Device Independent, LLC</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>

<body id="home">

<%= yield %>

  <footer id="extra" role="contentinfo">
    <small>&copy; 2000-2015 <a href="http://www.deviceindependent.com">Device Independent, LLC</a> <em>(previously The Klaibers Web Engineering, LLC)</em></small>
  </footer>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61296717-1', 'auto');
  ga('send', 'pageview');

</script>

<!-- Quick Sprout: Grow your traffic -->
<script>
  (function(e,t,n,c,r){c=e.createElement(t),c.async=1,c.src=n,
  r=e.getElementsByTagName(t)[0],r.parentNode.insertBefore(c,r)})
  (document,"script","https://cdn.quicksprout.com/qs.js");
</script>
<!-- End Quick Sprout -->
</body>
</html>
